.container {
    display: flex;
    flex-direction: column;
    height: 98vh;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-self: center;
}
.createContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70%;
    margin-left: -25%;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin: 1%;
    width: 30%;
}
.label {
    display: flex;
    flex-direction: row;
    margin: 5%;
    font-size: 25px;
    justify-content: flex-end;
    align-items: center;
}
.input {
    font-size: 20px;
    border-radius: 20px;
    padding: 1%;
    outline: none;
    margin-left: 2%;
}
.checkbox {
    align-self: center;
    width: 30px;
    height: 30px;
}
.createBtn {
    margin-top: 15%;
    margin-left: 25%;
    width: 35%;
    font-size: 150%;
    background-image: linear-gradient(#ff4b6e, #ff9349);
    padding: 20px;
    border-radius: 20px;
}
.disableBtn {
    background-color: transparent;
    border: none;
}
.disableIcon {
    width: 30px;
    height: 30px;
    color: red;
}
.updateIcon {
    width: 30px;
    height: 30px;
    color: black;
}
/* .disableIcon:hover {
    width: 50px;
    height: 50px;
    transition: 0.1s all ease-in-out;
} */
