.container {
    display: flex;
    flex-direction: row;
}

.chartContainer {
    display: flex;
    flex-direction: column;
}

.h1Estadisticas {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 50px;
    align-self: center;
}
.chart {
    padding-left: 50px;
    width: 650px;
    height: 550px;
    font-size: 20px;
}
.month {
    padding: 10px;
    border-radius: 20px;
    font-size: 260px;
}
.textData {
    display: flex;
    justify-content: space-evenly;
    margin-left: 6%;
}
