.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}
.formText {
    display: flex;
    justify-content: flex-end;
}
