.h1Text {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-left: 3%;
}
h1 {
  text-align: center;
  margin: 10px;
  color: #ff756b;
  font-family: "Quicksand", sans-serif;
}
.buttons {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 0;
}
/* .btn {
  background-image: linear-gradient(#ff4b6e, #ff9349);
  height: 30px;
  font-size: 15px;
  border-radius: 20px;
  margin: 20px;
  border: none;
} */
.btn {
  border: none;
  direction: none;
  align-self: center;
  background-color: #ff756b;
  border-radius: 50px;
  height: 5%;
  margin: 1%;
  padding: 0.5%;

  font-weight: 600;
  font-stretch: extra-expanded;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
  font-size: 17px;

  color: #fff;
  text-align: center;

  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.btn:focus {
  background-color: #f85c50;
}
.btnActive {
  background-color: #ff4b6e;
  height: 30px;
  font-size: 15px;
  border-radius: 20px;
  margin: 20px;
  border: none;
}
.text {
  color: black;
  font-size: 15px;
  margin: 10px;
}
.main {
  margin: 10px auto;
  width: 95%;
  position: relative;
  z-index: 1;
  overflow: scroll;
  height: 80vh;
}
table {
  border-radius: 3px; /* 
  border-collapse: collapse; */
  margin: 0;
  text-align: left;
  width: 100%;
}
th,
td {
  padding: 10px;
}

thead {
  background-color: #ff4b6e;
  color: white;
}
thead th {
  background-color: #ff4b6e;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
}
thead th:first-child {
  z-index: 5;
}
/* tr:nth-child(even){
background-color: sandybrown;
} */
.fila {
  background-color: #ff9349;
}
tr:hover td {
  background-color: #f5b78e;
  color: white;
}
.filaUnica {
  background-color: #c4bbb5;
  text-align: center;
}

.pending {
  display: flex;
  justify-content: space-between;
}
.btnsPending {
  margin-left: 5px;
}
.btnPending {
  margin: 1px;
  border: solid 1px black;
  border-radius: 5px;
}
.btnPending:hover {
  margin: 1px;
  border: solid 1px #ff4b6e;
  border-radius: 5px;
}
table td:first-child {
  width: 20%;
}
table td:nth-child(2) {
  width: 5%;
  text-align: left;
}
table td:nth-child(3) {
  width: 5%;
}
table td:nth-child(4) {
  width: 5%;
}
table td:nth-child(5) {
  width: 5%;
}
table td:nth-child(6) {
  width: 25%;
}
table td:last-child {
  width: 20%;
}
