.inputAmount {
  border-radius: 20px;
  font-size: 20px;
  width: 150px;
}
.borderlessBtn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.updateBtn {
  width: 25px;
  height: 25px;
  align-self: center;
  cursor: pointer;
}
/* .updateBtn:hover {
  width: 35px;
  height: 35px;
  align-self: center;
} */
.confirmBtn {
  width: 25px;
  height: 25px;
  align-self: center;
  color: green;
  cursor: pointer;
}
.confirmBtn:hover {
  color: lightgreen;
}
.closeBtn {
  width: 25px;
  height: 25px;
  align-self: center;
  color: darkred;
  cursor: pointer;
}
.closeBtn:hover {
  color: red;
}

.h1Text {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-left: 3%;
}
h1 {
  text-align: center;
  margin: 10px;
  color: #ff756b;
  font-family: "Quicksand", sans-serif;
}
.buttons {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 0;
}
/* .btn {
  background-image: linear-gradient(#ff4b6e, #ff9349);
  height: 30px;
  font-size: 15px;
  border-radius: 20px;
  margin: 20px;
  border: none;
} */
.btn {
  border: none;
  direction: none;
  align-self: center;
  background-color: #ff756b;
  border-radius: 50px;
  height: 5%;
  margin: 1%;
  padding: 0.5%;

  font-weight: 600;
  font-stretch: extra-expanded;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
  font-size: 17px;

  color: #fff;
  text-align: center;

  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.btn:focus {
  background-color: #f85c50;
}
.btnActive {
  background-color: #ff4b6e;
  height: 30px;
  font-size: 15px;
  border-radius: 20px;
  margin: 20px;
  border: none;
}
.text {
  color: black;
  font-size: 15px;
  margin: 10px;
}
.main {
  margin: 10px auto;
  width: 85%;
  position: relative;
  z-index: 1;
  overflow: scroll;
  height: 530px;
}
table {
  border-radius: 3px; /* 
  border-collapse: collapse; */
  margin: 0;
  text-align: left;
}
th,
td {
  padding: 10px;
}

thead {
  background-color: #ff4b6e;
  color: white;
}
thead th {
  background-color: #ff4b6e;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
}
thead th:first-child {
  z-index: 5;
}
/* tr:nth-child(even){
background-color: sandybrown;
} */
.fila {
  background-color: #ff9349;
}
tr:hover td {
  background-color: #f5b78e;
  color: white;
}
.filaUnica {
  background-color: #c4bbb5;
  text-align: center;
}

.amount {
  display: flex;
  justify-content: center;
}
table td:first-child {
  width: 40%;
}
table td:nth-child(2) {
  width: 20%;
  text-align: center;
}
table td:nth-child(3) {
  width: 10%;
  text-align: center;
}
table td:last-child {
  width: 30%;
}
