.container {
  display: flex;
  flex-direction: row;
  height: auto;
  z-index: 90;
  /* background-color: #a18e92; */
}
.sidebar {
  display: flex;
  width: 20%;
  height: 90%;
  flex-direction: column;
  /* z-index: 40; */
  /* border-right: 2px solid #ff4b6e; */
  position: fixed;
  background: rgb(255, 75, 110);
  background: linear-gradient(
    90deg,
    rgba(255, 75, 110, 1) 0%,
    rgba(255, 147, 73, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );

  border-bottom-left-radius: 250px 100px;
  border-bottom-right-radius: 250px 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-left: 0.8%;
}

.imgLogo {
  z-index: 30;
  background-color: #ffff;
  width: 100%;
  position: relative;
}

.divImgLogo {
  background-color: #ffff;
  height: 29%;

  border-bottom-left-radius: 300px 100px;
  border-bottom-right-radius: 300px 100px;
}

.information {
  margin-left: 20%;
  width: 100%;
  height: 100%;
}
.title {
  color: rgb(255, 136, 0);
  font-size: 50px;
  margin-bottom: 40%;
}
.btn {
  border: none;
  direction: none;
  align-self: center;
  background-color: #ff756b;
  border-radius: 50px;
  width: 80%;
  height: 5%;
  /* border: 1px solid #000; */

  font-weight: 600;
  font-stretch: extra-expanded;
  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
  margin-top: 15%;
  font-size: 20px;

  color: #fff;
  text-align: center;

  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  transition: 1s;
  cursor: pointer;
  font-size: 20px;
}
/* .btn ::selection {
  background-color: aqua;
} */

.btn:focus {
  background-color: #f85c50;
  border: 1px solid #e0584f;
}

.btn:hover {
  font-size: 21px;
  transform: scale(1.1);
}
