.container {
    display: flex;
    flex-direction: row;
    height: auto;
}
.sidebar {
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    border-right: 2px solid #ff4b6e;
    position: fixed;
}
.information {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    width: 100%;
    height: 100%;
}
.btn {
    background-image: linear-gradient(#ff4b6e, #ff9349);
    padding: 10px;
    font-size: 30px;
    border-radius: 20px;
    margin: 20px;
}
.title {
    color: rgb(255, 136, 0);
    font-size: 50px;
    margin-bottom: 40%;
}
